In [280]:
import numpy as np
import pandas as pd
import re
import os
import sys

In [281]:
cs_file = r"C:\Users\Andromeda\Programming\Projects\gradcafe_data-master\gradcafe_data-master\cs\cs_clean.csv"

headers_cs = ["rowid", "uni_name", "major", "degree", "season", "decision", "decision_method", "decision_date", "decision_timestamp", "ugrad_gpa", "gre_verbal", "gre_quant", "gre_writing", "is_new_gre", "gre_subject", "status", "post_data", "post_timestamp", "comments"]
headers_cs_select = ["rowid", "uni_name", "major", "degree", "season", "decision", "ugrad_gpa", "gre_verbal", "gre_quant", "gre_writing", "is_new_gre", "gre_subject", "status", "post_data", "comments"]

In [282]:
cs_data = pd.read_csv(cs_file, header=None)
cs_data.columns = headers_cs

In [285]:
seasons = list(set(cs_data["season"]))
univs = sorted(set(cs_data["uni_name"]))
print(len(univs))

415

In [284]:
for i in univs:
    print(i)

ABC
AT&T Labs Fellowship Program (ALFP)
Aalto University
Aberystwyth University
Al.I.Cuza University
Aligarh Muslim University
All University Applicant
American University Of Beirut
Amherst College
Anna University
Arizona State University (ASU)
Auburn University
Austin, Cornell, Gatech, UMich, UToronto
Austin, Cornell, Gatech, UMinn, TAMU, Stonybrook
Bangladesh University Of Enginnering And Technology
Bank Street College Of Education
Baylor University
Beijing Institute Of Technology
Birla Institute Of Technology And Science (BITS)
Boston University (BU)
Brandeis University
Brigham Young University
Brock University
Brown University
CSUN
CUNY
Cal Poly Pomona
Cal Poly San Luis Obispo
California Institute Of Technology (Caltech)
California School Of Professional Psychology
California State University, Chico
California State University, Fullerton
California State University, Long Beach
Canadian Universities
Carleton University
Carnegie Mellon University (CMU)
Case Western Reserve University (CWRU)
Catholic University Of America
Children Music School
Clarkson University
Clemson University
College Of William & Mary
Colorado School Of Mines (CSM)
Colorado State University (CSU)
Columbia University
Communication University Of China
Computer Network Information Center, CAS
Concordia University
Cornell Tech
Cornell University
Cornell, UCSB, UCSD
Cusa
DOE SCGF
Dalhousie University
Dartmouth College
DePaul University
Dead Lock University
Delaware, Lehigh, UConn, Notre Dame
Delhi College Of Engineering
Drexel University
Duke University
ETH Zurich
East Stroudsburg University Of Pennsylvania
Ecole Polytechnique Federale De Lausanne (EPFL)
Emory University
Erasmus Mundus
FFSEAS
Fairleigh Dickinson University
Florida Atlantic University (FAU)
Florida Institute Of Technology
Florida International University (FIU)
Florida State University (FSU)
Fordham University
Fudan University
GTU
George Mason University (GMU)
George Washington University (GWU)
Georgetown University
Georgia Institute Of Technology (GTech)
Georgia State University (GSU)
Graveyard University
Harvard University
Hong Kong University (HKU)
IST Austria
ITT Technical Institute
Illinois Institute Of Technology
Imperial College London (ICL)
Indian Institute Of Science
Indian Institute Of Technology (IIT)
Indian Institute Of Technology, Bombay (IIT Bombay)
Indian Institute Of Technology, Delhi (IIT Delhi)
Indian Institute Of Technology, Guwahati (IIT Guwahati)
Indian Institute Of Technology, Hyderabad (IIT Hyderabad)
Indian Institute Of Technology, Jodhpur (IIT Jodhpur)
Indian Institute Of Technology, Kharagpur (IIT Kharagpur)
Indian Institute Of Technology, Mandi (IIT Mandi)
Indian Institute Of Technology, Patna (IIT Patna)
Indiana University - Purdue University Indianapolis (IUPUI)
Indiana University Of Pennsylvania
Indiana University, Bloomington
Institute Of Science And Technology Austria
Intel Visual Computing Institute
International Institute Of Information Technology, Hyderabad (IIIT Hyderabad)
Iowa State University (ISU)
Jariwala Atit
Jinggangshan University
Jntu
Johns Hopkins University (JHU)
KFUPM
KTH Royal Institute Of Technology
Kansas State University
Kansas University
Kent International
Kent State University
King Abdullah University Of Science And Technology (KAUST)
Kingston University, London
Kinh Te
Koneru Lakshamiah College Of Engineering
LA Collage
Lahore University Of Management Sciences
Lakehead University
Lawrence Technological University
Lehigh University
Louisiana State University
Louisville
Loyola Marymount
MPI-SWS
MPSTME, NMIMS University
Masdar Institute Of Science And Technology
Massachusetts Institute Of Technology (MIT)
Max Planck
Max Planck Institute For Computer Science
Max Planck Institute For Informatics
Max Planck Institute For Software Systems
McGill Unviversity
McMaster University
Memorial University Of Newfoundland (MUN)
Miami University, Ohio
Michigan State University (MSU)
Michigan Technological University (MTU)
Mills College
Mississippi State University
Missouri University Of Science And Technology
Monmouth University
Morgan State University
Most Of The Schools
Mumbai University
NASA Aeronautics Scholarship Program (ASP)
NDSEG Fellowship
NMAMIT
NPSC National Physical Sciences Consortium
NSF Graduate Research Fellowship (NSF GRFP)
NYU, Columbia
NYU, Cornell, Northwestern
Nanyang Technological University (NTU)
National Institute Of Technology
National University Of Singapore (NUS)
Naval Postgraduate School
New Jersey Institute Of Technology (NJIT)
New Mexico State University
New York University (NYU)
Nie
Nor
North Carolina State University (NCSU)
North Caroline State University (NCSU)
North Dakota State University
Northeastern University
Northern Illinois University
Northern Ottowa University
Nothwestern University
Oakland University
Ocean University
Office Of Science Graduate Fellowship SCGF
Ohio State University (OSU)
Ohio State University, Columbus (OSU)
Ohio University, Athens
Oklahoma State University
Old Dominion University
Oregon State University
Other
Pacific Western University
Peking University
Pennsylvania State University (Penn State)
Pennsylvania State University (PennState)
Pennsylvania State University, Harrisburg (Penn State)
Politecnico Di Milano
Portland State University
Princeton University
Pune Institute Of Computer Technology
Purdue University
Queens University
RMIT
RWTH Aachen
Rajshahi University Of Engineering & Technology (RUET)
Rensselaer Polytechnic Institute (RPI)
Rice University
Rochester Institute Of Technology (RIT)
Royal Holloway University Of London
Rutgers University
Ryerson University
SINGA Fellowship
SMART Fellowship
SUNY Albany
SUNY Binghamton
SUNY Buffalo
SUNY Korea
SUNY New Paltz
SUNY Oswego
SUNY Stony Brook
SVA
Saarland University
Sacramento State University
San Diego State University (SDSU)
San Francisco State University (SFSU)
San Jose State University (SJSU)
Santa Clara University
School Of Visual Arts (SVA)
Seattle University
Seoul National University (SNU)
Shenzhen University
Shri Sant Gajanan Maharaj College Of Engineering
Simon Fraser University (SFU)
Sophia Secondary School
South Carolina, Colombia
Southern Illinois University, Carbondale
Southern Illinois University, Edwardsville (SIUE)
Southern Methodist University
Stanford University
State Univirsity Of Southern Connecticut
Stevens Institute Of Technology (SIT)
Swansea University
Syracuse University
TU Delft
TU Munich
Technical University Eindhoven
Technical University Of Kaiserslautern
Temple University
Texas A&M University, College Station (TAMU)
Texas A&M University, Kingsville (TAMU)
Texas State University
Texas Tech University
The Catholic University Of America
The Chinese University Of Hong Kong
The Institute Of Science And Technology Austria (IST Austria)
The International Max Planck Research School For Computer Science
The Max Planck Institute For Informatics
Thulla University
To All Applicants
Towson University
Toyota Technological Institute At Chicago (TTIC)
Tsinghua University
Ttcmyn.gov.bd
Tufts University
U
UNT
USC, UCI, UCSD, UIUC, Columbia
University College London
University Of Alabama, Birmingham
University Of Alabama, Huntsville
University Of Alabama, Tuscaloosa
University Of Alberta
University Of Arizona
University Of Arkansas, Fayetteville
University Of Birmingham
University Of Bristol
University Of British Columbia
University Of British Columbia (UBC)
University Of Calgary
University Of California, Berkeley (UCB)
University Of California, Davis (UCD)
University Of California, Irvine (UCI)
University Of California, Los Angeles (UCLA)
University Of California, Merced
University Of California, Riverside
University Of California, Riverside (UCR)
University Of California, San Diego (UCSD)
University Of California, San Francisco (UCSF)
University Of California, Santa Barbara (UCSB)
University Of California, Santa Cruz (UCSC)
University Of Cambridge
University Of Central Florida (UCF)
University Of Chicago (UChicago)
University Of Cincinnati
University Of Colorado, Boulder
University Of Colorado, Colorado Springs
University Of Colorado, Denver
University Of Connecticut
University Of Copenhagen
University Of Delaware
University Of Denver
University Of Dhaka
University Of Edinburgh
University Of Florida, Gainesville (UFL)
University Of Georgia
University Of Glasgow
University Of Hartford
University Of Hawaii, Manoa
University Of Helsinki
University Of Houston
University Of Idaho
University Of Illinois, Chicago
University Of Illinois, Chicago (UIC)
University Of Illinois, Springfield
University Of Illinois, Urbana-Champaign (UIUC)
University Of Indiana, Bloomington
University Of Iowa
University Of Kansas
University Of Kentucky
University Of Leeds
University Of Louisiana, Lafayette
University Of Louisville
University Of Maine
University Of Manchester
University Of Manitoba
University Of Maryland, Baltimore County (UMBC)
University Of Maryland, College Park (UMD)
University Of Massachusetts, Amherst (UMass)
University Of Massachusetts, Boston
University Of Massachusetts, Dartmouth
University Of Melbourne
University Of Memphis
University Of Miami
University Of Michigan, Ann Arbor (UMich)
University Of Michigan, Ann Arbor (Umich)
University Of Minnesota
University Of Minnesota, Twin Cities (UMN)
University Of Mississippi
University Of Missouri, Columbia
University Of Missouri, Kansas City
University Of Montreal
University Of Nebraska, Lincoln
University Of Nevada, Las Vegas
University Of Nevada, Reno
University Of New Brunswick
University Of New Hampshire
University Of New Mexico
University Of New Mexico (UNM)
University Of New South Wales (UNSW)
University Of North Carolina, Chapel Hill (UNC)
University Of North Carolina, Charlotte
University Of North Dakota
University Of North Texas
University Of Notre Dame
University Of Nottingham
University Of Oklahoma
University Of Ontario Institute Of Technology (UOIT)
University Of Oregon
University Of Ottawa
University Of Oxford
University Of Paderborn
University Of Pennsylvania (UPenn)
University Of Peradeniya, Sri Lanka
University Of Pittsburgh
University Of Rochester
University Of Saarland
University Of San Francisco
University Of Santa Cruz
University Of Saskatchewan
University Of Sheffield
University Of South Australia
University Of South Carolina
University Of South Dakota
University Of South Florida (USF)
University Of Southampton
University Of Southern California (USC)
University Of Sydney
University Of Tennessee
University Of Tennessee, Knoxville
University Of Texas, Arlington
University Of Texas, Austin (UT Austin)
University Of Texas, Dallas (UT Dallas)
University Of Texas, El Paso
University Of Texas, San Antonio (UTSA)
University Of Toronto (UofT)
University Of Twente
University Of Utah (UoU)
University Of Vermont
University Of Victoria
University Of Virginia (UVA)
University Of Warwick
University Of Washington, Seattle (UW)
University Of Waterloo
University Of West Alabama
University Of Western Ontario (UWO)
University Of Wisconsin, Madison
University Of Wyoming
University of Central Florida (UCF)
University of Missouri, Rolla
University of New Mexico
University of Pennsylvania (Upenn)
University of Pittsburgh
University of Washington, Seattle (UW)
Unviersity Of California, Davis (UCD)
Utah State University
Valdosta State University
Vanderbilt University
Villanova University
Virginia Commonwealth University (VCU)
Virginia Tech
Wake Forest University
Waltersun Memorial Institute Of Technology
Washington State University (WSU)
Washington University, St. Louis (WUSTL)
Wayne State University
West Virginia University
Western Michigan University
Western Ontario
Whatever School
Wichita State University
Worcester Polythchnic Institute (WPI)
Wright State University
Yale University
Yildiz Technical University
York University
Zhengzhou University

In [288]:
university_select = ["AT&T Labs Fellowship Program (ALFP)",  
"Arizona State University (ASU)",  
"Auburn University",  
"Austin, Cornell, Gatech, UMich, UToronto",  
"Austin, Cornell, Gatech, UMinn, TAMU, Stonybrook",  
"Bangladesh University Of Enginnering And Technology",  
"Beijing Institute Of Technology",  
"Birla Institute Of Technology And Science (BITS)",  
"Boston University (BU)",  
"Brandeis University",  
"Brigham Young University",  
"Brown University",  
"CUNY",  
"California Institute Of Technology (Caltech)",  
"Carnegie Mellon University (CMU)",  
"College Of William & Mary",  
"Colorado State University (CSU)",  
"Columbia University",  
"Concordia University",  
"Cornell Tech",  
"Cornell University",  
"Cornell, UCSB, UCSD",  
"Dartmouth College",  
"Delaware, Lehigh, UConn, Notre Dame",  
"Delhi College Of Engineering",  
"Drexel University",  
"Duke University",  
"ETH Zurich",  
"Emory University",  
"Florida Institute Of Technology",  
"Florida International University (FIU)",  
"Florida State University (FSU)",  
"George Mason University (GMU)",  
"George Washington University (GWU)",  
"Georgia Institute Of Technology (GTech)",  
"Georgia State University (GSU)",  
"Harvard University",  
"Hong Kong University (HKU)",  
"ITT Technical Institute",  
"Illinois Institute Of Technology",  
"Imperial College London (ICL)",  
"Indian Institute Of Science",  
"Indian Institute Of Technology (IIT)",  
"Indian Institute Of Technology, Bombay (IIT Bombay)",  
"Indian Institute Of Technology, Delhi (IIT Delhi)",  
"Indian Institute Of Technology, Guwahati (IIT Guwahati)",  
"Indian Institute Of Technology, Hyderabad (IIT Hyderabad)",  
"Indian Institute Of Technology, Jodhpur (IIT Jodhpur)",  
"Indian Institute Of Technology, Kharagpur (IIT Kharagpur)",  
"Indian Institute Of Technology, Mandi (IIT Mandi)",  
"Indian Institute Of Technology, Patna (IIT Patna)",  
"Indiana University - Purdue University Indianapolis (IUPUI)",  
"Indiana University Of Pennsylvania",  
"Indiana University, Bloomington",  
"Intel Visual Computing Institute",  
"International Institute Of Information Technology, Hyderabad (IIIT Hyderabad)",  
"Johns Hopkins University (JHU)",  
"KTH Royal Institute Of Technology",  
"King Abdullah University Of Science And Technology (KAUST)",  
"Kingston University, London",  
"Massachusetts Institute Of Technology (MIT)",  
"Max Planck",  
"Max Planck Institute For Computer Science",  
"Max Planck Institute For Informatics",  
"Max Planck Institute For Software Systems",  
"McGill Unviversity",  
"McMaster University",  
"Miami University, Ohio",  
"Michigan State University (MSU)",  
"Mumbai University",  
"NASA Aeronautics Scholarship Program (ASP)",  
"NSF Graduate Research Fellowship (NSF GRFP)",  
"NYU, Columbia",  
"NYU, Cornell, Northwestern",  
"Nanyang Technological University (NTU)",  
"National Institute Of Technology",  
"National University Of Singapore (NUS)",  
"New Jersey Institute Of Technology (NJIT)",  
"New York University (NYU)",  
"North Carolina State University (NCSU)",  
"North Caroline State University (NCSU)",  
"Northeastern University",  
"Northern Illinois University",  
"Nothwestern University",  
"Office Of Science Graduate Fellowship SCGF",  
"Ohio State University (OSU)",  
"Ohio State University, Columbus (OSU)",  
"Old Dominion University",  
"Oregon State University",  
"Peking University",  
"Pennsylvania State University (Penn State)",  
"Pennsylvania State University (PennState)",  
"Pennsylvania State University, Harrisburg (Penn State)",  
"Princeton University",  
"Pune Institute Of Computer Technology",  
"Purdue University",  
"Queens University",  
"Rajshahi University Of Engineering & Technology (RUET)",  
"Rensselaer Polytechnic Institute (RPI)",  
"Rice University",  
"Rochester Institute Of Technology (RIT)",  
"Royal Holloway University Of London",  
"Rutgers University",  
"SUNY Albany",  
"SUNY Binghamton",  
"SUNY Buffalo",  
"SUNY Stony Brook",  
"Sacramento State University",  
"San Diego State University (SDSU)",  
"San Francisco State University (SFSU)",  
"San Jose State University (SJSU)",  
"Seattle University",  
"Seoul National University (SNU)",  
"Shenzhen University",  
"Simon Fraser University (SFU)",  
"Southern Methodist University",  
"Stanford University",  
"Stevens Institute Of Technology (SIT)",  
"Syracuse University",  
"TU Munich",  
"Technical University Eindhoven",  
"Technical University Of Kaiserslautern",  
"Temple University",  
"Texas Tech University",  
"The Chinese University Of Hong Kong",  
"The Institute Of Science And Technology Austria (IST Austria)",  
"The International Max Planck Research School For Computer Science",  
"The Max Planck Institute For Informatics",  
"Toyota Technological Institute At Chicago (TTIC)",  
"Tsinghua University",  
"Tufts University",  
"USC, UCI, UCSD, UIUC, Columbia",  
"University College London",  
"University Of British Columbia",  
"University Of British Columbia (UBC)",  
"University Of Calgary",  
"University Of California, Berkeley (UCB)",  
"University Of California, Davis (UCD)",  
"University Of California, Irvine (UCI)",  
"University Of California, Los Angeles (UCLA)",  
"University Of California, Merced",  
"University Of California, Riverside", 
"University Of California, San Diego (UCSD)", 
"University Of California, San Francisco (UCSF)", 
"University Of California, Santa Barbara (UCSB)", 
"University Of California, Santa Cruz (UCSC)", 
"University Of Cambridge", 
"University Of Central Florida (UCF)", 
"University Of Chicago (UChicago)", 
"University Of Colorado, Boulder", 
"University Of Colorado, Colorado Springs", 
"University Of Colorado, Denver", 
"University Of Connecticut", 
"University Of Delaware", 
"University Of Dhaka", 
"University Of Edinburgh", 
"University Of Florida, Gainesville (UFL)", 
"University Of Georgia", 
"University Of Glasgow", 
"University Of Hartford", 
"University Of Hawaii, Manoa", 
"University Of Illinois, Chicago", 
"University Of Illinois, Chicago (UIC)", 
"University Of Illinois, Springfield", 
"University Of Illinois, Urbana-Champaign (UIUC)", 
"University Of Indiana, Bloomington", 
"University Of Iowa", 
"University Of Leeds", 
"University Of Maine", 
"University Of Manchester", 
"University Of Maryland, Baltimore County (UMBC)", 
"University Of Maryland, College Park (UMD)", 
"University Of Massachusetts, Amherst (UMass)", 
"University Of Massachusetts, Boston", 
"University Of Massachusetts, Dartmouth", 
"University Of Melbourne", 
"University Of Memphis", 
"University Of Miami", 
"University Of Michigan, Ann Arbor (UMich)", 
"University Of Michigan, Ann Arbor (Umich)", 
"University Of Montreal", 
"University Of Nevada, Las Vegas", 
"University Of Nevada, Reno", 
"University Of North Carolina, Chapel Hill (UNC)", 
"University Of North Carolina, Charlotte", 
"University Of North Dakota", 
"University Of Notre Dame", 
"University Of Nottingham", 
"University Of Ontario Institute Of Technology (UOIT)", 
"University Of Oregon", 
"University Of Ottawa", 
"University Of Oxford", 
"University Of Pennsylvania (UPenn)", 
"University Of Pittsburgh", 
"University Of Rochester", 
"University Of San Francisco", 
"University Of Santa Cruz", 
"University Of Saskatchewan", 
"University Of South Carolina", 
"University Of South Dakota", 
"University Of South Florida (USF)", 
"University Of Southern California (USC)", 
"University Of Sydney", 
"University Of Tennessee", 
"University Of Tennessee, Knoxville", 
"University Of Texas, Arlington", 
"University Of Texas, Austin (UT Austin)", 
"University Of Texas, Dallas (UT Dallas)", 
"University Of Texas, El Paso", 
"University Of Texas, San Antonio (UTSA)", 
"University Of Toronto (UofT)", 
"University Of Vermont", 
"University Of Victoria", 
"University Of Virginia (UVA)", 
"University Of Washington, Seattle (UW)", 
"University Of Waterloo", 
"University of Pennsylvania (Upenn)", 
"University of Pittsburgh", 
"University of Washington, Seattle (UW)", 
"Unviersity Of California, Davis (UCD)", 
"Virginia Commonwealth University (VCU)", 
"Virginia Tech", 
"Washington State University (WSU)", 
"Washington University, St. Louis (WUSTL)", 
"Wayne State University", 
"Worcester Polythchnic Institute (WPI)", 
"Wright State University", 
"Yale University", 
"Zhengzhou University", 
"CUNY"]

In [188]:
cs_data.head()

,rowid,uni_name,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_data,post_timestamp,comments
0,0,Tufts University,CS,PhD,S16,Accepted,E-mail,16-11-2015,1.447650e+09,3.6,166.0,163.0,4.5,True,NaN,American,16-11-2015,1447650000,Met with professor beforehand. 1 year academic...
1,1,SUNY Stony Brook,CS,MS,S16,Rejected,E-mail,14-11-2015,1.447477e+09,3.5,144.0,167.0,3.0,True,NaN,International,14-11-2015,1447477200,non CS background
2,2,Columbia University,CS,MS,S16,Other,Other,14-11-2015,1.447477e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,14-11-2015,1447477200,So there was no actual Nov 15 deadline? Or did...
3,3,Columbia University,CS,PhD,S16,Other,Other,13-11-2015,1.447391e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,13-11-2015,1447390800,I haven't found the website with the deadline ...
4,4,Columbia University,CS,MS,S16,Other,Other,13-11-2015,1.447391e+09,NaN,NaN,NaN,NaN,NaN,NaN,Other,13-11-2015,1447390800,Thanks guys! Good to know I'm not the only one...

In [226]:
rowid = ""
uni_name = ""
major = ""
degree = ""
season = ""
decision = ""
decision_method = ""
decision_date = ""
decision_timestamp = ""
ugrad_gpa = ""
gre_verbal = ""
gre_quant = ""
gre_writing = ""
is_new_gre = ""
gre_subject = ""
status = ""
post_data = ""
post_timestamp = ""
comments = ""

In [227]:
rowid = ""
uni_name = "SUNY Stony Brook"
major = "CS"
degree = "PhD"
season = "F10"
decision = "Accepted"
decision_method = ""
decision_date = ""
decision_timestamp = ""
ugrad_gpa = ""
gre_verbal = ""
gre_quant = ""
gre_writing = ""
is_new_gre = ""
gre_subject = ""
status = "International"
post_data = ""
post_timestamp = ""
comments = ""

In [233]:
univ_accepted = cs_data[(cs_data["uni_name"]==uni_name) & (cs_data["major"]==major) & (cs_data["degree"]==degree) & (cs_data["decision"]==decision) & (cs_data["status"]==status)]
# univ_accepted[headers_cs_select]
univ_accepted[headers_cs_select]

,rowid,uni_name,major,degree,season,decision,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_data,comments
2210,2210,SUNY Stony Brook,CS,PhD,F15,Accepted,3.67,164.0,145.0,3.5,True,NaN,International,23-03-2015,NaN
3193,3193,SUNY Stony Brook,CS,PhD,F15,Accepted,3.68,141.0,170.0,3.5,True,NaN,International,6/3/15,first an interview with a admission committee ...
3230,3230,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,6/3/15,"This post accounts for 8 admissions from LUMS,..."
3233,3233,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,141.0,163.0,3.0,True,NaN,International,6/3/15,NaN
3441,3441,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,28-02-2015,NaN
3442,3442,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,28-02-2015,NaN
3501,3501,SUNY Stony Brook,CS,PhD,F15,Accepted,3.80,154.0,170.0,4.0,True,NaN,International,26-02-2015,"Five pubs, two more under review. From an unkn..."
3544,3544,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,26-02-2015,LUMS!
3551,3551,SUNY Stony Brook,CS,PhD,F15,Accepted,3.70,152.0,164.0,3.5,True,NaN,International,26-02-2015,"From LUMS, Pakistan. Second admit."
3552,3552,SUNY Stony Brook,CS,PhD,F15,Accepted,3.27,166.0,165.0,5.5,True,NaN,International,26-02-2015,"Didn't receive any email. No pubs, ~4.0 MS GPA..."
3564,3564,SUNY Stony Brook,CS,PhD,F15,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,26-02-2015,NaN
3566,3566,SUNY Stony Brook,CS,PhD,F15,Accepted,3.88,158.0,170.0,3.5,True,NaN,International,26-02-2015,NaN
6308,6308,SUNY Stony Brook,CS,PhD,F14,Accepted,3.50,153.0,162.0,4.5,True,NaN,International,31-03-2014,Full tuition waiver + TA + Summer RA. Still wa...
6621,6621,SUNY Stony Brook,CS,PhD,F14,Accepted,3.20,148.0,164.0,3.0,True,NaN,International,21-03-2014,NaN
6957,6957,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,14-03-2014,TA one year fellowship
7249,7249,SUNY Stony Brook,CS,PhD,F14,Accepted,3.63,155.0,162.0,3.5,True,NaN,International,5/3/14,"No research experience, Fellowship + TAship"
7259,7259,SUNY Stony Brook,CS,PhD,F14,Accepted,3.52,155.0,163.0,4.0,True,NaN,International,5/3/14,"From LUMS, Pakistan. 1 IEEE WCNC paper. 1 in s..."
7261,7261,SUNY Stony Brook,CS,PhD,F14,Accepted,3.95,148.0,157.0,3.0,True,NaN,International,5/3/14,"TA: $17,145 + Chair Fellowship: $4,000 + Summe..."
7283,7283,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,5/3/14,"2 conference papers, ta+fellowship+summer ra+t..."
7292,7292,SUNY Stony Brook,CS,PhD,F14,Accepted,3.51,150.0,165.0,3.5,True,NaN,International,4/3/14,"From LUMS, Pakistan. Strong SOP, said to be st..."
7293,7293,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,4/3/14,"From LUMS, Pakistan. Three IEEE INFOCOM papers."
7295,7295,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,4/3/14,With fundings!
7527,7527,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,26-02-2014,TA + fellowship + summer RA = good money!
7637,7637,SUNY Stony Brook,CS,PhD,F14,Accepted,3.50,164.0,147.0,3.0,True,NaN,International,21-02-2014,Good money (TA+2 fellowships+Summer RA)
7638,7638,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,21-02-2014,BSc in applied mathematics. TA+RA+Fellow+Insur...
7648,7648,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,21-02-2014,TA+fellowship+summer RA
7662,7662,SUNY Stony Brook,CS,PhD,F14,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,20-02-2014,They give so much money....
7684,7684,SUNY Stony Brook,CS,PhD,F14,Accepted,3.50,169.0,142.0,4.0,True,NaN,International,20-02-2014,NaN
9578,9578,SUNY Stony Brook,CS,PhD,F13,Accepted,3.00,150.0,162.0,3.0,True,NaN,International,3/4/13,"47,000$ a year financial assistance for TA and..."
9591,9591,SUNY Stony Brook,CS,PhD,F13,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,3/4/13,TA+Summer RA+Fellowship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13911,13911,SUNY Stony Brook,CS,PhD,F12,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,8/3/12,TAship 1 small Fellowship.
14010,14010,SUNY Stony Brook,CS,PhD,F12,Accepted,NaN,153.0,165.0,3.5,True,NaN,International,7/3/12,with financial aid
14236,14236,SUNY Stony Brook,CS,PhD,F12,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,3/3/12,NaN
14237,14237,SUNY Stony Brook,CS,PhD,F12,Accepted,3.81,520.0,800.0,3.5,False,NaN,International,3/3/12,From University of Science and Technology of C...
14253,14253,SUNY Stony Brook,CS,PhD,F12,Accepted,3.97,158.0,168.0,4.0,True,NaN,International,2/3/12,Full TA-ship + 2 other small fellowships. My f...
16044,16044,SUNY Stony Brook,CS,PhD,F11,Accepted,3.76,560.0,800.0,4.0,False,NaN,International,1/5/11,One committee member first rejects me and warn...
16964,16964,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,22-03-2011,NaN
17757,17757,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,4/3/11,TA
17781,17781,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,4/3/11,TA + 1 year fellowship
17787,17787,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,3/3/11,TA+CS Departmental fellowship+Award of Tuition
17796,17796,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,3/3/11,NaN
17799,17799,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,3/3/11,NaN
17838,17838,SUNY Stony Brook,CS,PhD,F11,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,2/3/11,TA + (mini-)fellowship
20594,20594,SUNY Stony Brook,CS,PhD,F10,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,13-03-2010,NaN
20612,20612,SUNY Stony Brook,CS,PhD,F10,Accepted,3.97,750.0,800.0,4.0,False,890.0,International,13-03-2010,This came after a phone interview just two day...
20645,20645,SUNY Stony Brook,CS,PhD,F10,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,12/3/10,More information will follow later
22818,22818,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,27-03-2009,offer details to follow in the next email.
22861,22861,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,26-03-2009,Accepted with RA.
23020,23020,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,21-03-2009,full funding from two potential professors who...
23129,23129,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,17-03-2009,receive email offer letter: TA + Fellowship + RA
23167,23167,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,17-03-2009,NaN
23173,23173,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,17-03-2009,NaN
23361,23361,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,10/3/09,NaN
23367,23367,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,10/3/09,Same as in the last post... I am also an Inter...
23368,23368,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,10/3/09,Short email congratulating me on my acceptance...
23411,23411,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,7/3/09,email from a potential advisor (speciality: sy...
25226,25226,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,31-03-2008,ta
25724,25724,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,16-03-2008,My first acceptance:)
27533,27533,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,2/3/06,Got full aid amounting to abt $15k for 9 month...
27652,27652,SUNY Stony Brook,CS,PhD,NaN,Accepted,NaN,NaN,NaN,NaN,NaN,NaN,International,22-02-2006,NaN

In [234]:
univ_accepted.groupby(["season"]).mean()

,rowid,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,gre_subject,post_timestamp
season,,,,,,,,
F10,20617.000000,1.268399e+09,3.970000,750.000000,800.000000,4.000000,890.0,1.268428e+09
F11,17470.750000,1.299733e+09,3.760000,560.000000,800.000000,4.000000,NaN,1.299981e+09
F12,13909.000000,1.331330e+09,3.890000,277.000000,377.666667,3.666667,NaN,1.331330e+09
F13,10399.888889,1.362850e+09,3.377500,151.000000,163.250000,3.750000,NaN,1.363167e+09
F14,7288.375000,1.393606e+09,3.538750,155.250000,157.750000,3.562500,NaN,1.393882e+09
F15,3335.583333,1.425258e+09,3.666667,153.714286,163.857143,3.785714,NaN,1.425308e+09

In [235]:
univ_accepted.groupby(["season"]).count()

,rowid,uni_name,major,degree,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_data,post_timestamp,comments
season,,,,,,,,,,,,,,,,,,
F10,3,3,3,3,3,3,3,3,1,1,1,1,1,1,3,3,3,2
F11,8,8,8,8,8,8,8,8,1,1,1,1,1,0,8,8,8,5
F12,7,7,7,7,7,7,7,7,2,3,3,3,3,0,7,7,7,6
F13,9,9,9,9,9,9,9,9,4,4,4,4,4,0,9,9,9,6
F14,16,16,16,16,16,16,16,16,8,8,8,8,8,0,16,16,16,14
F15,12,12,12,12,12,12,12,12,6,7,7,7,7,0,12,12,12,6

In [276]:
season = "F15"
ad_data = cs_data[(cs_data["major"]==major) & (cs_data["degree"]==degree) & (cs_data["season"]==season) & (cs_data["decision"]==decision) & (cs_data["status"]==status)].groupby(["uni_name"]).count().sort_values("rowid", ascending=False)

In [279]:
ad_data[ad_data["rowid"]>5]

univ_selected = ["Bangladesh University Of Enginnering And Technology", "Carnegie Mellon University (CMU)", "Stanford University", "University Of California, Berkeley (UCB)", "Harvard University", "SUNY Stony Brook", "Boston University (BU)", "University Of California, San Diego (UCSD)", "Cornell University", "University Of Virginia (UVA)", "University Of California, Riverside (UCR)", "Purdue University"]

,rowid,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_data,post_timestamp,comments
uni_name,,,,,,,,,,,,,,,,,,
University Of Central Florida (UCF),13,13,13,13,13,13,13,13,10,10,10,10,10,0,13,13,13,8
Purdue University,12,12,12,12,12,12,12,12,1,3,3,3,3,0,12,12,12,10
SUNY Stony Brook,12,12,12,12,12,12,12,12,6,7,7,7,7,0,12,12,12,6
Carnegie Mellon University (CMU),12,12,12,12,12,12,12,12,3,4,4,4,4,0,12,12,12,8
"University Of Illinois, Urbana-Champaign (UIUC)",11,11,11,11,11,11,11,11,4,5,5,5,5,0,11,11,11,8
"University Of Wisconsin, Madison",9,9,9,9,9,9,9,9,4,5,5,5,5,0,9,9,9,7
Georgia Institute Of Technology (GTech),9,9,9,9,9,9,9,9,3,5,5,5,5,0,9,9,9,7
Arizona State University (ASU),9,9,9,9,9,9,9,9,7,7,7,7,7,0,9,9,9,8
Cornell University,8,8,8,8,8,8,8,8,1,2,2,2,2,0,8,8,8,3
"University Of California, San Diego (UCSD)",8,8,8,8,8,8,8,8,2,4,4,4,4,0,8,8,8,6
Duke University,7,7,7,7,7,7,7,7,3,4,4,4,4,0,7,7,7,5
Stanford University,7,7,7,7,7,7,7,7,2,4,4,4,4,0,7,7,7,5
University Of Virginia (UVA),7,7,7,7,7,7,7,7,3,5,5,5,5,0,7,7,7,3
Ohio State University (OSU),7,7,7,7,7,7,7,7,4,4,4,4,4,0,7,7,7,5
"University Of Illinois, Chicago (UIC)",7,7,7,7,7,7,7,7,3,4,4,4,4,0,7,7,7,6
Harvard University,7,7,7,7,7,7,7,7,1,3,3,3,3,0,7,7,7,6
"University Of Texas, Austin (UT Austin)",7,7,7,7,7,7,7,7,3,3,3,3,3,0,7,7,7,4
"University Of California, Riverside (UCR)",6,6,6,6,6,6,6,6,3,5,5,5,5,0,6,6,6,5
University Of Southern California (USC),6,6,6,6,6,6,6,6,2,3,3,3,3,0,6,6,6,2
"University Of California, Berkeley (UCB)",6,6,6,6,6,6,6,6,2,3,3,3,3,0,6,6,6,4
"University Of Washington, Seattle (UW)",6,6,6,6,6,6,6,6,3,3,3,3,3,1,6,6,6,4
University Of Utah (UoU),6,6,6,6,6,6,6,6,3,5,5,4,5,0,6,6,6,5